.row{
  width: 100%;
  margin:0;
}
.quotes .iconify{
  margin : 0px 10px 10px 0;
}

.login-wrapper{
  height: 100vh;
  background-image: linear-gradient(to right, #0000006b,#0000006b),url('../../../assets/background/login.jpg');
  background-size: cover;
}


.quotes{
  font-size: 30px;
  color: rgb(228, 228, 228);
}
.blockquote-footer{
  color: rgb(206, 206, 206);
}
@media (max-width: 575px) {
.quote-log{
  display: none;
}
.wrapper{
  width: 100%;
}
}