.btn-light.google-button{
    width: 80%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 7px 0;
    border: 2px solid #eee;
}
.btn-light.google-button:hover{
    background-color: #efefef;
}