.navbar-brand img {
  width: 160px;
}
.nav-item {
  margin: 0 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #9ca09e;
}

.aqua {
  background-color: #91b4ba;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: none;
  border: none;
}
.aqua:hover,.aqua:focus,.aqua:active {
  background-color: #5c767a;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  box-shadow: none;
  border: none;
}
