*{
    outline: none;
    border:none;
}

.float-label{
    position: relative;
    width: 100%;
}
.float-label:focus{
    border-color: transparent;
}

.form-control {
    font-size: 1rem;
    background-color: transparent;

    display: block;
    width: 100%;
    padding: .5rem 2.3rem;
}



.reg-icon{
    position: absolute;
    font-size: 25px;
    margin: .5rem 6px;
}
