.reg-wrapper {
  background-image:  linear-gradient(to right, #0000006b,#0000006b),url(../../../assets/background/register.jpg);
  background-size: cover;
  height:100vh;
}

.form {
  padding-bottom: 30px;
  width: 80vw;
  background-color: #fff;
  box-shadow: #aeaeae 10px 10px 10px;
}

.auth-title {
  font-weight: bold;
  text-align: center;
  font-family: 'Poppins';
}
.submit {
  width: 100%;
}
.link {
  text-decoration: none;
  color: #aeaeae;
}
.link:hover {
  text-decoration: none;
  color: #7a7a7a;
}
.check {
  display: inline;
}
.reg-container{
  height:100vh;
}
@media (max-width: 575px) {

  .wrapper{
    width: 100%;
  }
  }
